@charset "UTF-8";

.conteiner {
    background-color: lightsalmon;
    display: flex;
    flex-flow: row nowrap;
}

.item {
    background-color: lightskyblue;
    border: 1px solid black;
    text-align: center;
    flex-basis: 150px;
    flex-shrink: 2;
    flex-grow: 1;
}