@charset "UTF-8";

.conteiner {
    background-color: lightsalmon;
    display: flex;
    flex-flow: row nowrap;
}

.item {
    background-color: lightskyblue;
    border: 1px solid black;
    text-align: center;
    flex-basis: 200px;
    flex-shrink: 1;
    flex-grow: 0;
}

#cxA {
    flex-shrink: 1;
    flex-grow: 6;
}

#cxB {
    flex-shrink: 1;
    flex-grow: 2;
}

#cxC {
    flex-shrink: 1;
    flex-grow: 4;    
}