@charset "UTF-8";

.conteiner {
    background-color: lightsalmon;
    display: flex;
    flex-direction: row;
}

.item {
    background-color: lightskyblue;
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}