@charset "UTF-8";

.conteiner {
    background-color: lightsalmon;

    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
    height: 400px;
}

.item {
    background-color: lightskyblue;
    border: 1px solid black;
    text-align: center;
    align-items: flex-start;
    padding: 40px;
}